.slabTocoil {
    display: flex;
    margin-top: 15px;
}

.filter {
    width: 20%;
    // height: 400px;

    // border: 1px solid black;
    margin-right: 10px;
}

.report_table {
    width: 80%;
    // height: 400px;
    // background-color: rgb(229, 255, 0);
    // border: 1px solid black;


}

.each_filter {
    height: 25%;
    border: 1px solid black;
    border-collapse: collapse;
}