<div class="flex flex-col -m-6  overflow-hidden">

  <!-- View mode -->


  <!-- Header -->
  <div class=" items-center w-fustickyll py-0 px-3 bg-primary-800 dark:bg-accent-700">
    <div class="flex items-center justify-between w-full max-w-3xl mx-auto">
      <span class="text-white font-semibold text-xl">Add User</span>

      <a mat-icon-button [matTooltip]="'Close'" (click)="matDialogRef.close()">
        <mat-icon class="text-white" [svgIcon]="'heroicons_outline:x-mark'"></mat-icon>
      </a>


    </div>

  </div>



</div>