<!-- Loading bar -->
<fuse-loading-bar></fuse-loading-bar>

<!-- Navigation -->
<fuse-vertical-navigation
  class="dark bg-gray-900 print:hidden bg-primary-800 text-white"
  [mode]="'over'"
  [name]="'mainNavigation'"
  [navigation]="navigation.default"
  [opened]="false"
>
  <!-- Navigation header hook -->
  <ng-container fuseVerticalNavigationContentHeader>
    <!-- <div class="flex items-center w-full p-4 pl-6 bg-primary-800 text-white"> -->
    <!-- Logo -->
    <!-- <div class="flex items-center justify-center">
                <img class="w-8" src="assets/images/logo/logo.svg">
            </div> -->
    <!-- Components -->
    <!-- <div class="flex items-center ml-auto">

                <user [showAvatar]="false"></user>
            </div> -->
    <!-- </div> -->
    <!-- User -->
    <div class="flex flex-col items-center w-full p-4 mt-10">
      <div class="relative w-24 h-24">
        <img
          class="w-full h-full rounded-full"
          *ngIf="user?.imageUrl"
          [src]="user?.imageUrl"
          alt="User avatar"
        />
        <mat-icon
          class="icon-size-24"
          *ngIf="!user?.imageUrl"
          [svgIcon]="'heroicons_solid:user-circle'"
        ></mat-icon>
      </div>
      <div class="flex flex-col items-center justify-center w-full mt-6">
        <div
          class="w-full whitespace-nowrap text-ellipsis overflow-hidden text-white text-center leading-normal font-medium"
        >
          {{ user?.firstname }} {{ user?.lastname }}
        </div>
        <div
          class="w-full mt-0.5 whitespace-nowrap text-ellipsis text-secondary overflow-hidden text-center text-md leading-normal font-medium text-secondary"
        >
          {{ user?.user_id }}
        </div>
        <div
          class="w-full mt-0.5 whitespace-nowrap text-ellipsis text-secondary overflow-hidden text-center text-md leading-normal font-medium text-secondary"
        >
          {{ user?.email }}
        </div>
      </div>
    </div>
  </ng-container>
  <!-- Navigation footer hook -->
  <!-- <ng-container fuseVerticalNavigationContentFooter>
        <div class="flex flex-0 items-center justify-center h-16 pr-6 pl-2 mt-2 mb-4 opacity-12 ">
            <img class="max-w-36" src="assets/images/logo/logo.png">
            <span class="text-7xl">SISX</span>
        </div>
    </ng-container> -->
</fuse-vertical-navigation>

<!-- Wrapper -->
<div class="flex flex-col flex-auto w-full min-w-0">
  <!-- Header -->
  <div
    class="relative flex flex-0 items-center w-full h-10 px-4 md:px-6 z-49 shadow dark:shadow-none dark:border-b bg-card dark:bg-transparent print:hidden bg-primary-800 text-white"
  >
    <!-- Navigation toggle button -->
    <button mat-icon-button (click)="toggleNavigation('mainNavigation')">
      <mat-icon
        class="text-white"
        [svgIcon]="'heroicons_outline:bars-3'"
      ></mat-icon>
    </button>

    <div class="flex flex-row items-center justify-center w-full">
      <div class="flex flex-col">
        <div class="flex flex-row items-center justify-center">
          <div class="mr-2">
            <img
              class="w-8 object-cover rounded-full org-img"
              src="assets/images/logo/sail.png"
            />
          </div>
          <span
            class="text-2xl font-semibold cursor-pointer"
            (click)="viewOrg()"
          >
            SAIL, BOKARO STEEL PLANT
          </span>
        </div>
        <!-- <span class="text-xl font-semibold text-white">
                    Document Management System
                </span> -->
      </div>

      <!-- <div class="mr-2" *ngIf="currentUser.role == 'ZONEADMIN'">
                            <img class="w-8 object-cover rounded-full org-img" src="assets/images/logo/Indian-Railways.svg">
                        </div> -->

      <!-- <span class="text-white text-2xl " *ngIf="currentUser.role == 'ZONEADMIN'">{{currentUser.zone}}</span> -->
    </div>

    <!-- Components -->
    <div class="flex items-center pl-2 ml-auto space-x-0.5 sm:space-x-2">
      <!-- <languages></languages>
            <fuse-fullscreen class="hidden md:block"></fuse-fullscreen> -->
      <!-- <shortcuts></shortcuts> -->

      <!-- <search [appearance]="'bar'"></search>
            <messages></messages>
            <notifications></notifications> -->
      <!-- <button mat-icon-button >
                <img src="assets/images/logo/home (1).png">
            </button> -->

      <mat-icon
        style="color: rgb(255, 255, 255); cursor: pointer"
        (click)="goOverview()"
        >home</mat-icon
      >
      <user [showAvatar]="true"></user>
      <!-- <button class="lg:hidden" mat-icon-button (click)="quickChat.toggle()">
                <mat-icon [svgIcon]="'heroicons_outline:chat-bubble-left-right'"></mat-icon>
            </button> -->
    </div>
  </div>

  <!-- Content -->

  <div class="flex flex-col flex-auto">
    <!-- *ngIf="true" hack is required here for router-outlet to work correctly.
             Otherwise, layout changes won't be registered and the view won't be updated! -->
    <router-outlet *ngIf="true"></router-outlet>
  </div>

  <!-- Footer -->
  <!-- <a class="relative flex flex-row items-center justify-center w-full h-5 px-4 md:px-6 z-49 border-t bg-primary-800 dark:bg-transparent print:hidden"
        href="https://softmeets.com/" target="_blank">
        <img class="w-4" src="assets/images/logo/logo.png" alt="Logo image" style="margin-right: 8px;">

        <span class="font-small text-secondary footer-text">Proudly Designed &
            Developed By SISX Team &copy; {{currentYear}}</span>
    </a> -->
</div>

<!-- Quick chat -->
<!-- <quick-chat #quickChat="quickChat"></quick-chat> -->
