<!-- <canvas #canvas></canvas> -->
<div class="main_con">
  <div class="canva">
    <canvas #canvas></canvas>
    <div>
      <!-- <canvas
        #canvas2D
        style="position: absolute; top: 0; left: 0; width: 50%; height: 100%"
      ></canvas> -->
    </div>
  </div>
  <div
    class="console"
    [class.collapsible]="isColapsed"
    [class.collapsible--expanded]="!isColapsed"
  >
    <!-- <h1 class="r5">{{ r5Plate }}</h1>
    <h1 class="r5">show tag</h1> -->

    <div id="console">
      <h1 (click)="colapse()" style="cursor: pointer">Console ⬇️</h1>
    </div>

    <div *ngIf="!loading" class="collapsible__content">
      <h1>Status: {{ status }}</h1>
      <!-- <h2>Selected part:{{ selectedPartName }}</h2> -->
      <!-- <h2>{{ items.get(item) }}</h2> -->
      <h2>Rolling seq:</h2>
      <h1 *ngFor="let item of rollingseq; let i = index" class="rolseq">
        {{ i + 1 }}. {{ item }}
      </h1>
      <!-- <h1>r1{{ coil4 }}</h1>
      <h1>r2{{ r2Plate }}</h1>
      <h1>r3{{ r2Plate }}</h1>
      <h1>r4{{ r2Plate }}</h1>
      <h1>r5{{ r2Plate }}</h1>
      <h1>r5{{ millsStandStatus }}</h1> -->
      <button
        style="margin: 5px"
        id="reset"
        mat-raised-button
        type="button"
        class="flat_button"
        (click)="resetCamera()"
      >
        Reset camera
      </button>
      <button
        [disabled]="tag"
        style="margin: 5px"
        id="reset"
        mat-raised-button
        type="button"
        class="flat_button"
        (click)="toggleCamera()"
      >
        {{ useOrthographic == true ? "Perspective off" : "Perspective on" }}
      </button>
      <button
        style="margin: 5px"
        [disabled]="!useOrthographic"
        id="reset"
        mat-raised-button
        type="button"
        class="flat_button"
        (click)="showTag()"
      >
        {{ tag == true ? "Hide Tag" : "Show Tag" }}
      </button>

      <button
        style="margin: 5px"
        [disabled]="!useOrthographic"
        id="reset"
        mat-raised-button
        type="button"
        class="flat_button"
        (click)="zoomView()"
      >
        {{ zoom == true ? "Zoom out" : "Zoom in" }}
      </button>
      <!-- <button
        style="margin: 5px"
        id="reset"
        mat-raised-button
        type="button"
        class="flat_button"
        (click)="log()"
      >
        log
      </button> -->

      <!-- <h1>hold left click and move to rotate</h1>
      <h1>hold right click and move to pan</h1>
      <h1>Scroll to zoom</h1> -->
    </div>
  </div>
</div>
