canvas {
    display: block;
    // position: absolute;
    top: 0;
    left: 0;
  }
  .main_con{
    display: flex;
    overflow: hidden;

  }
  // .canva{
  //   // width: 80%;
  // }
 

.main_con {
    position: relative;
    width: 100%;
   
}

.canva {
    width: 100%;
   
}

canvas {
    width: 100%;
   
    display: block; /* Removes the default inline block margin of canvas */
}

.console {
    position: absolute;
    top: 0;
    right: 0;
    width: 280px;
    // height: 100%;
  
    // padding: 10px;
    box-sizing: border-box;
    background-color: rgba(67, 67, 67, 0.326);
    color: rgb(80, 80, 80);
    border: 1px solid rgb(114, 114, 114);
}
.collapsible__content {
  max-height: 0px;
  overflow: hidden;
  opacity: 0;
  transition: all 0.5s;
  padding: 0 10px;
}

.collapsible--expanded .collapsible__content {
  max-height: 100%;
  opacity: 1;
  padding-bottom: 2rem;
 
}
.collapsible--expanded {
  height: calc(100vh - 40px);

}
.rolseq{
  font-size: 10px;
  // color: white;
}
#console{
  background-color: rgba(218, 218, 218, 0.811);
  color: gray;
  text-align: center;
}
#reset{
  background-color: rgba(255, 255, 255, 0.696);
  padding: 4px 10px;
  border-radius: 20px;
  box-shadow: 0 0 1px gray;
  font-size: 14px;

}
.r5{
  position:absolute;

    left: -50vw;
    top: 34vh;
  // left: -58rem;
  // top:20rem
}
.label {
  font-family: Arial, sans-serif;
  font-size: 20px;
  background: rgba(0, 0, 0, 0.5);
  padding: 5px;
  border-radius: 5px;
  color: black;
  // text-align: start;
}
.label_dynamic{
  font-family: Arial, sans-serif;
  font-weight: 600;
  line-height: 10px;
  font-size: 20px;
  background: rgba(0, 0, 0, 0.5);
  padding: 5px;
  border-radius: 5px;
  color: green;
}