<!-- <canvas #canvas></canvas> -->
<div class="main_con">
    <div class="canva">
        <canvas #canvas></canvas> <!-- WebGL canvas for 3D rendering -->
        
    </div>
    <div class="console" [class.collapsible]="isColapsed" [class.collapsible--expanded]="!isColapsed" >
        <h1>Console</h1>
       



     

        <button mat-raised-button type="button" class="flat_button" (click)="colapse()">click
         
        </button>

        <div class="collapsible__content"> <h2>{{items.get(item)}}</h2></div>
  
    </div>



</div>
<!-- <canvas #canvas2D style=" height: 100px; border: 1px solid gray;"></canvas>  -->


