<div class="w-full h-full flex flex-col overflow-hidden item-center justify-center p-5">
  <div class=" relative mx-auto  border-4 border-blue-900 overflow-y-autostyle=">
    <img class="relative" src="assets/images/HSM/bg-card1.png" alt="">

    <img src="assets/images/HSM/fur_on.png" class="absolute" style="top: 13%;left: 4.5%;height: 12%; width: 8%;">
    <img src="assets/images/HSM/pos4_off_col4_off.png" class="absolute"
      style="top: 13%;left: 4.5%;height: 12%; width: 8%;">


    <!-- <img src="assets/images/hsm/furnace_4.png" class="absolute" style="top: 11%;left: 2%;height: 12%; width: 8%;">
    <img src="assets/images/hsm/furnace_4.png" class="absolute" style="top: 13%;left: 4.5%;height: 12%; width: 8%;">
    <img src="assets/images/hsm/furnace_4.png" class="absolute" style="top: 14.9%;left: 7%;height: 12%; width: 8%;">
    <img src="assets/images/hsm/furnace_4.png" class="absolute" style="top: 16.9%;left: 9.7%;height: 12%; width: 8%;">

    <img src="assets/images/hsm/single-roller-down.png" class="absolute z-20"
      style="top: 22.9%;left: 9.7%;height: 6%; width: 3%;">
    <img src="assets/images/hsm/single-roller-down.png" class="absolute "
      style="top: 25.9%; left: 9.7%; height: 6%; width: 3%;">

    <img src="assets/images/hsm/roller1-bottom-gray.png" class="absolute z-20"
      style="top: 22.9%; left: 11%; height: 8%; width: 4%;">
    <img src="assets/images/hsm/roller1-bottom-gray.png" class="absolute "
      style="top: 28.7%; left: 11%; height: 8%; width: 4%;">

    <img src="assets/images/hsm/roller1-bottom-gray.png" class="absolute z-20"
      style="top: 22.9%; left: 13.5%; height: 8%; width: 4%;">
    <img src="assets/images/hsm/roller1-bottom-gray.png" class="absolute "
      style="top: 29.7%; left: 13.5%; height: 8%; width: 4%;">

    <img src="assets/images/hsm/roller1-bottom-gray.png" class="absolute z-20"
      style="top: 27%; left: 18%; height: 8%; width: 4%;">
    <img src="assets/images/hsm/roller1-bottom-gray.png" class="absolute "
      style="top: 33.7%; left: 18%; height: 8%; width: 4%;">

    <img src="assets/images/hsm/roller1-bottom-gray.png" class="absolute z-20"
      style="top: 32%; left: 25.5%; height: 8%; width: 4%;">
    <img src="assets/images/hsm/roller1-bottom-gray.png" class="absolute "
      style="top: 39%; left: 25.5%; height: 8%; width: 4%;">

    <img src="assets/images/hsm/single-roller-down.png" class="absolute z-20"
      style="top: 40.9%;left: 34.7%;height: 6%; width: 3%;">
    <img src="assets/images/hsm/single-roller-down.png" class="absolute "
      style="top: 44.9%; left: 34.7%; height: 6%; width: 3%;">

    <img src="assets/images/hsm/roller1-bottom-gray.png" class="absolute z-20"
      style="top: 40%; left: 37%; height: 8%; width: 4%;">
    <img src="assets/images/hsm/roller1-bottom-gray.png" class="absolute "
      style="top: 46.8%; left: 37%; height: 8%; width: 4%;">

    <img src="assets/images/hsm/roller1-bottom-gray.png" class="absolute z-20"
      style="top: 41.5%; left: 39%; height: 8%; width: 4%;">
    <img src="assets/images/hsm/roller1-bottom-gray.png" class="absolute "
      style="top: 47.8%; left: 39%; height: 8%; width: 4%;">

    <img src="assets/images/hsm/roller1-bottom-gray.png" class="absolute z-20"
      style="top: 42.7%; left: 40.5%; height: 8%; width: 4%;">
    <img src="assets/images/hsm/roller1-bottom-gray.png" class="absolute "
      style="top: 49.8%; left: 40.5%; height: 8%; width: 4%;">

    <img src="assets/images/hsm/roller1-bottom-gray.png" class="absolute z-20"
      style="top: 43.5%; left: 42%; height: 8%; width: 4%;">
    <img src="assets/images/hsm/roller1-bottom-gray.png" class="absolute "
      style="top: 50.9%; left: 42%; height: 8%; width: 4%;">

    <img src="assets/images/hsm/roller1-bottom-gray.png" class="absolute z-20"
      style="top: 45.5%; left: 43.5%; height: 8%; width: 4%;">
    <img src="assets/images/hsm/roller1-bottom-gray.png" class="absolute "
      style="top: 52.5%; left: 43.5%; height: 8%; width: 4%;">

    <img src="assets/images/hsm/roller1-bottom-gray.png" class="absolute z-20"
      style="top: 46.5%; left: 46.5%; height: 8%; width: 4%;">
    <img src="assets/images/hsm/roller1-bottom-gray.png" class="absolute "
      style="top: 52.5%; left: 45.5%; height: 8%; width: 4%;"> -->


    <!-- <div class=" w-20 h-15 absolute bg-[url('assets/images/hsm/furnace_4.png')] bg-no-repeat bg-center bg-cover"
      style="top: 64px; left: 6px;"></div> -->
    <!-- <div class=" w-20 h-15 absolute bg-[url('assets/images/hsm/furnace_4.png')] bg-no-repeat bg-center bg-cover"
      style="top: 75px; left: 31px;"></div>
    <div class=" w-20 h-15 absolute bg-[url('assets/images/hsm/furnace_4.png')] bg-no-repeat bg-center bg-cover"
      style="top: 84px; left: 55px;"></div>
    <div class=" w-20 h-15 absolute bg-[url('assets/images/hsm/furnace_4.png')] bg-no-repeat bg-center bg-cover"
      style="top: 96px; left: 80px;"></div>

    <div class=" z-20 absolute bg-[url('assets/images/hsm/single-roller-down.png')] bg-no-repeat bg-center bg-cover"
      style="top: 134px; left: 84px; width: 35px; height: 24px;"></div>
    <div class="  absolute bg-[url('assets/images/hsm/single-roller-down.png')] bg-no-repeat bg-center bg-cover"
      style="top: 154px; left: 86px; width: 35px; height: 24px;"></div>

    <div class=" z-20 absolute bg-[url('assets/images/hsm/roller1-bottom-gray.png')] bg-no-repeat bg-center bg-cover"
      style="top: 124px; left: 105px; width: 40px; height: 43px;"></div>
    <div class="  absolute bg-[url('assets/images/hsm/roller1-bottom-gray.png')] bg-no-repeat bg-center bg-cover"
      style="top: 148px; left: 102px; width: 40px; height: 43px;"></div>

    <div class=" z-20 absolute bg-[url('assets/images/hsm/roller1-bottom-gray.png')] bg-no-repeat bg-center bg-cover"
      style="top: 132px; left: 125px; width: 40px; height: 43px;"></div>
    <div class="  absolute bg-[url('assets/images/hsm/roller1-bottom-gray.png')] bg-no-repeat bg-center bg-cover"
      style="top: 167px; left: 121px; width: 40px; height: 43px;"></div>

    <div class=" z-20 absolute bg-[url('assets/images/hsm/roller1-bottom-gray.png')] bg-no-repeat bg-center bg-cover"
      style="top: 150px; left: 165px; width: 40px; height: 43px;"></div>
    <div class="  absolute bg-[url('assets/images/hsm/roller1-bottom-gray.png')] bg-no-repeat bg-center bg-cover"
      style="top: 189px;left: 165px; width: 40px; height: 43px;"></div>

    <div class=" z-20 absolute bg-[url('assets/images/hsm/roller1-bottom-gray.png')] bg-no-repeat bg-center bg-cover"
      style="top: 175px; left: 224px; width: 40px; height: 43px;"></div>
    <div class="  absolute bg-[url('assets/images/hsm/roller1-bottom-gray.png')] bg-no-repeat bg-center bg-cover"
      style="top: 214px;left: 222px; width: 40px; height: 43px;"></div>

    <div class=" z-20 absolute bg-[url('assets/images/hsm/single-roller-down.png')] bg-no-repeat bg-center bg-cover"
      style="top: 234px; left: 306px; width: 35px; height: 24px;"></div>
    <div class="  absolute bg-[url('assets/images/hsm/single-roller-down.png')] bg-no-repeat bg-center bg-cover"
      style="top: 252px; left: 307px; width: 35px; height: 24px;"></div>

    <div class=" z-20 absolute bg-[url('assets/images/hsm/roller1-bottom-gray.png')] bg-no-repeat bg-center bg-cover"
      style="top: 225px; left: 330px; width: 40px; height: 43px;"></div>
    <div class="  absolute bg-[url('assets/images/hsm/roller1-bottom-gray.png')] bg-no-repeat bg-center bg-cover"
      style="top: 261px;left: 329px; width: 40px; height: 43px;"></div>

    <div class=" z-20 absolute bg-[url('assets/images/hsm/roller1-bottom-gray.png')] bg-no-repeat bg-center bg-cover"
      style="top: 232px; left: 347px; width: 40px; height: 43px;"></div>
    <div class="  absolute bg-[url('assets/images/hsm/roller1-bottom-gray.png')] bg-no-repeat bg-center bg-cover"
      style="top: 266px;left: 348px; width: 40px; height: 43px;"></div>

    <div class=" z-20 absolute bg-[url('assets/images/hsm/roller1-bottom-gray.png')] bg-no-repeat bg-center bg-cover"
      style="top: 232px; left: 347px; width: 40px; height: 43px;"></div>
    <div class="  absolute bg-[url('assets/images/hsm/roller1-bottom-gray.png')] bg-no-repeat bg-center bg-cover"
      style="top: 266px;left: 348px; width: 40px; height: 43px;"></div>

    <div class=" z-20 absolute bg-[url('assets/images/hsm/roller1-bottom-gray.png')] bg-no-repeat bg-center bg-cover"
      style="top: 240px; left: 365px; width: 40px; height: 43px;"></div>
    <div class="  absolute bg-[url('assets/images/hsm/roller1-bottom-gray.png')] bg-no-repeat bg-center bg-cover"
      style="top: 275px;left: 365px; width: 40px; height: 43px;"></div>

    <div class=" z-20 absolute bg-[url('assets/images/hsm/roller1-bottom-gray.png')] bg-no-repeat bg-center bg-cover"
      style="top: 248px; left: 380px; width: 40px; height: 43px;"></div>
    <div class="  absolute bg-[url('assets/images/hsm/roller1-bottom-gray.png')] bg-no-repeat bg-center bg-cover"
      style="top: 282px;left: 382px; width: 40px; height: 43px;"></div>

    <div class=" z-20 absolute bg-[url('assets/images/hsm/roller1-bottom-gray.png')] bg-no-repeat bg-center bg-cover"
      style="top: 256px; left: 395px; width: 40px; height: 43px;"></div>
    <div class="  absolute bg-[url('assets/images/hsm/roller1-bottom-gray.png')] bg-no-repeat bg-center bg-cover"
      style="top: 291px;left: 395px; width: 40px; height: 43px;"></div>

    <div class=" z-20 absolute bg-[url('assets/images/hsm/roller1-bottom-gray.png')] bg-no-repeat bg-center bg-cover"
      style="top: 262px; left: 411px; width: 40px; height: 43px;"></div>
    <div class="  absolute bg-[url('assets/images/hsm/roller1-bottom-gray.png')] bg-no-repeat bg-center bg-cover"
      style="top: 296px;left: 410px; width: 40px; height: 43px;"></div>


    <div class=" z-20 absolute bg-[url('assets/images/hsm/roller1-bottom-gray.png')] bg-no-repeat bg-center bg-cover"
      style="top: 269px; left: 427px; width: 40px; height: 43px;"></div>
    <div class="  absolute bg-[url('assets/images/hsm/roller1-bottom-gray.png')] bg-no-repeat bg-center bg-cover"
      style="top: 304px;left: 426px; width: 40px; height: 43px;"></div>

    <div
      class=" z-20  absolute bg-[url('assets/images/hsm/cooling1-pos-strip-gray.png')] bg-no-repeat bg-center bg-cover"
      style="top: 299px;left: 432px; width: 74px; height: 32px;"></div>

    <div class="  absolute bg-[url('assets/images/hsm/single-roller-down.png')] bg-no-repeat bg-center bg-cover"
      style="top: 361px; left: 546px; width: 35px; height: 24px;"></div>

    <div class="  absolute bg-[url('assets/images/hsm/single-roller-down.png')] bg-no-repeat bg-center bg-cover"
      style="top: 372px; left: 571px; width: 35px; height: 24px;"></div>


    <div class="  absolute bg-[url('assets/images/hsm/single-roller-down.png')] bg-no-repeat bg-center bg-cover"
      style="top: 383px; left: 598px; width: 35px; height: 24px;"></div>

    <div class="  absolute bg-[url('assets/images/hsm/changer.png')] bg-no-repeat bg-center bg-cover"
      style="top: 405px; left: 779px; width: 36px; height: 26px;"></div>


    <div class=" z-20 absolute bg-[url('assets/images/hsm/conveyor-red.png')] bg-no-repeat bg-center bg-cover"
      style="top: 358px; left: 685px; width: 16px; height: 26px;"></div>

    <div class=" z-20 absolute bg-[url('assets/images/hsm/conveyor-red.png')] bg-no-repeat bg-center bg-cover"
      style="top: 368px; left: 708px; width: 16px; height: 26px;"></div>

    <div class=" z-20 absolute bg-[url('assets/images/hsm/conveyor-red.png')] bg-no-repeat bg-center bg-cover"
      style="top: 375px; left: 723px; width: 16px; height: 26px;"></div>

    <div class=" z-20 absolute bg-[url('assets/images/hsm/conveyor-red.png')] bg-no-repeat bg-center bg-cover"
      style="top: 390px; left: 760px; width: 16px; height: 26px;"></div>


    <div class=" z-20 absolute bg-[url('assets/images/hsm/conveyor-red.png')] bg-no-repeat bg-center bg-cover"
      style="top: 415px; left: 813px; width: 16px; height: 26px;"></div>

    <div class=" z-20 absolute bg-[url('assets/images/hsm/conveyor-red.png')] bg-no-repeat bg-center bg-cover"
      style="top: 423px; left: 830px; width: 16px; height: 26px;"></div>

    <div class=" z-20 absolute bg-[url('assets/images/hsm/conveyor-red.png')] bg-no-repeat bg-center bg-cover"
      style="top: 430px; left: 848px; width: 16px; height: 26px;"></div>

    <div class="  absolute bg-[url('assets/images/hsm/single-roller-down.png')] bg-no-repeat bg-center bg-cover"
      style="top: 466px; left: 782px; width: 35px; height: 24px;"></div> -->

    <!-- <div class="conveyor_belt">
      <s></s><b></b>
      <span></span>
      <samp></samp>
    </div> -->
    <!-- <img class="w-20" src="assets/images/hsm/furnace4.png"> -->

  </div>

</div>