<div class="tackingCon" style="margin: 0; padding: 0; background: #ffffff">
  <div
    style="background: #ffffff; width: 100%; height: 100%; position: absolute"
  >
    <div style="width: 100%; position: relative; scale: 0.8; bottom: 90px">
      <img
        src="../../../../assets/trakingImage/hsm1.jpg"
        style="width: 100%; position: relative"
      />
      <img
        src="../../../../assets/trakingImage/pos.png"
        style="width: 15%; height: 11%; position: absolute; top: 19%; left: -3%"
      />

      <img
        *ngIf="flag; else elseBlock"
        src="../../../../assets/trakingImage/furnace4-gry.png"
        style="
          width: 8%;
          height: 8%;
          position: absolute;
          top: 13.5%;
          left: 2.7%;
        "
      />
      <ng-template #elseBlock>
        <img
          src="../../../../assets/trakingImage/furnace4-col.png"
          style="
            width: 8%;
            height: 8%;
            position: absolute;
            top: 13.5%;
            left: 2.7%;
          "
        />
      </ng-template>
      <img
        src="../../../../assets/trakingImage/furnace4-col.png"
        style="width: 8%; height: 8%; position: absolute; top: 15%; left: 5%"
      />
      <img
        src="../../../../assets/trakingImage/furnace4-col.png"
        style="
          width: 8%;
          height: 8%;
          position: absolute;
          top: 16.3%;
          left: 7.3%;
        "
      />
      <img
        src="../../../../assets/trakingImage/furnace4-col.png"
        style="
          width: 8%;
          height: 8%;
          position: absolute;
          top: 17.8%;
          left: 9.5%;
        "
      />

      <!-- <img
        src="../../../../assets/trakingImage/metals-2-10.png"
        style="width: 6%; height: 12%; position: absolute; top: 23%; left: 8%"
      /> -->

      <img
        *ngIf="flag1; else elseBlock1"
        src="../../../../assets/trakingImage/metals-2-10.png"
        style="width: 6%; height: 12%; position: absolute; top: 23%; left: 8%"
      />
      <ng-template #elseBlock1>
        <img
          src="../../../../assets/trakingImage/metals-2-09.png"
          style="width: 6%; height: 12%; position: absolute; top: 23%; left: 8%"
        />
      </ng-template>

      <img
        src="../../../../assets/trakingImage/metals-09.png"
        style="width: 6%; height: 12%; position: absolute; top: 25%; left: 11%"
      />
      <img
        src="../../../../assets/trakingImage/metals-09.png"
        style="
          width: 6%;
          height: 12%;
          position: absolute;
          top: 27%;
          left: 13.5%;
        "
      />
      <img
        src="../../../../assets/trakingImage/metals-09.png"
        style="width: 6%; height: 12%; position: absolute; top: 30%; left: 18%"
      />
      <img
        src="../../../../assets/trakingImage/pos-mini.png"
        style="width: 9%; height: 9%; position: absolute; top: 32%; left: 20%"
      />
      <img
        src="../../../../assets/trakingImage/metals-09.png"
        style="width: 6%; height: 12%; position: absolute; top: 33%; left: 24%"
      />
      <img
        src="../../../../assets/trakingImage/r5_off_shear_off.png"
        style="width: 16%; height: 17%; position: absolute; top: 32%; left: 23%"
      />
      <img
        src="../../../../assets/trakingImage/metals-10.png"
        style="width: 6%; height: 12%; position: absolute; top: 41%; left: 36%"
      />
      <img
        src="../../../../assets/trakingImage/metals-10.png"
        style="width: 6%; height: 12%; position: absolute; top: 43%; left: 38%"
      />
      <img
        src="../../../../assets/trakingImage/metals-10.png"
        style="
          width: 6%;
          height: 12%;
          position: absolute;
          top: 44%;
          left: 39.5%;
        "
      />
      <img
        src="../../../../assets/trakingImage/metals-10.png"
        style="
          width: 6%;
          height: 12%;
          position: absolute;
          top: 45.2%;
          left: 41%;
        "
      />
      <img
        src="../../../../assets/trakingImage/metals-10.png"
        style="
          width: 6%;
          height: 12%;
          position: absolute;
          top: 46.5%;
          left: 42.5%;
        "
      />
      <img
        src="../../../../assets/trakingImage/metals-10.png"
        style="width: 6%; height: 12%; position: absolute; top: 48%; left: 44%"
      />
      <img
        src="../../../../assets/trakingImage/metals-10.png"
        style="
          width: 6%;
          height: 12%;
          position: absolute;
          top: 49%;
          left: 45.5%;
        "
      />

      <img
        src="../../../../assets/trakingImage/pos2.png"
        style="width: 11%; height: 12%; position: absolute; top: 55%; left: 49%"
      />
      <img
        src="../../../../assets/trakingImage/pos3.png"
        style="width: 7%; height: 8%; position: absolute; top: 61.5%; left: 57%"
      />
      <img
        src="../../../../assets/trakingImage/pos3.png"
        style="width: 7%; height: 9%; position: absolute; top: 64%; left: 60%"
      />
      <img
        src="../../../../assets/trakingImage/pos4.png"
        style="
          width: 26%;
          height: 23%;
          position: absolute;
          top: 65%;
          left: 64%;
          transform: rotate(355deg);
        "
      />
      <img
        src="../../../../assets/trakingImage/changer-zoom.png"
        style="width: 4%; height: 4%; position: absolute; top: 72%; left: 84.5%"
      />

      <img
        src="../../../../assets/trakingImage/conveyor-R.png"
        style="
          width: 2%;
          height: 4%;
          position: absolute;
          top: 69.5%;
          left: 83.5%;
        "
      />

      <img
        src="../../../../assets/trakingImage/conveyor-R.png"
        style="
          width: 2%;
          height: 4%;
          position: absolute;
          top: 67.5%;
          left: 80.5%;
        "
      />
      <img
        src="../../../../assets/trakingImage/conveyor-R.png"
        style="width: 2%; height: 4%; position: absolute; top: 66%; left: 78.5%"
      />

      <img
        src="../../../../assets/trakingImage/conveyor-R.png"
        style="width: 2%; height: 4%; position: absolute; top: 63%; left: 74.5%"
      />

      <img
        src="../../../../assets/trakingImage/conveyor-R.png"
        style="
          width: 2%;
          height: 4%;
          position: absolute;
          top: 74.5%;
          left: 90.5%;
        "
      />
      <img
        src="../../../../assets/trakingImage/conveyor-R.png"
        style="width: 2%; height: 4%; position: absolute; top: 76%; left: 92.5%"
      />
      <img
        src="../../../../assets/trakingImage/conveyor-R.png"
        style="
          width: 2%;
          height: 4%;
          position: absolute;
          top: 77.5%;
          left: 94.5%;
        "
      />
    </div>
  </div>
</div>

<!-- <img
  src="../../../../assets/trakingImage/pos.PNG"
  style="width: 15%; height: 11%; position: absolute; top: 19%; left: -3%"
/> -->
